/*!
 * 正文全局样式
 */
.news_item{ overflow:hidden; }
.news_item .news_p{ border-bottom:0; padding:2px 0 0; margin:0; line-height: 15px}
.news_item .news_txt{  padding:0 0 8px; line-height:20px;}
.news_item .news_txt2{ line-height:28px;}
.news_item .from{padding: 0 5px 0 0;}
.news_item .louzhu{padding: 0 0 0 5px;}
.news_item .from,.news_item .louzhu{ max-width:100px;}
.num{ float:right; color:#aaa !important; font-size:12px !important;}

/*! video page 视频模块正文 start */
video{ position: fixed; top: 0;left: 0; z-index: 999;}
.accordion { margin-top:54%;}

.news1{ padding:12px 0; margin:0 12px; border-bottom:1px solid #e0e0e0; overflow:hidden;}
.news1 .img{ width:116px; height:72px; float:left; margin-right:10px;}
.news1 .img img{display: inline-block;max-width: 100%;margin: 0 auto;vertical-align: middle;}
.news1 .news_txt2{ line-height:28px;}
.news_p1,.news_p1 a,.news_ps,.news_ps a{ font-size:12px; color:#acacac;}
.news_p1{ padding:2px 0 4px; line-height:14px;}
.news_txt2,.news_txt1,.text_over,.news_p1,.news_exclusive h4 i{ text-overflow: ellipsis; white-space: nowrap; overflow:hidden;}

.news2{ padding:12px; border-bottom:1px solid #e0e0e0; overflow:hidden;}
.news2 .img{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #FFF;
    text-align: center;
    margin: 0 15px 0 0;
    border: 1px solid #d8d8d8;
	float:left;
}
.news2 .news_item{
    background:url(../images/svg/SVG_ICON9.svg) no-repeat right;
	background-size:18px;

}
.news2 .img img{display: inline-block;max-width: 100%;margin: 0 auto;vertical-align: middle;}
.news2 .news_txt{ line-height:28px;}

.news3{ padding:12px 0; margin:-66px 12px 0 0; overflow:hidden;}
.news3 .news_item{ margin-top: 14px;}
.news3 .news_item h4{ color: #fff;}
.news3 .img{ width:76px; height:76px; float:left; margin-right:10px;}
.news3 .img img{display: inline-block;max-width: 100%;margin: 0 auto;vertical-align: middle;}
.news3 .news_txt2{ line-height:28px;}

.news4{
    padding:8px 15px;
    margin:0 12px 12px;
    overflow:hidden;
    background-color: #eff5fc;
    border: solid 1px #97baf0;
}
.news4-blue{
    background-color: #4689f2;
    border: solid 1px #4689f2;
}
.news4-blue .news_txt,.news4-blue .news_p1{ color: #fff;}
.news4 .play img{ width: 24px; height: 24px; position: absolute; right: 26px; margin-top: -36px;}
.news4 .news_txt2{ line-height:28px;}

.text-white{ color:#fff;}
/*! video page 视频模块正文 end */

/*! activity page 活动模块正文 start */
.news_activity { margin: 12px; overflow:hidden; position:relative; text-align: center;}
.news_activity h4{ line-height:24px; font-size:14px;white-space: nowrap; overflow:hidden; padding-top: 15px; margin-top: 15px; border-top: 1px solid #eaeaea;}
.news_activity p{ font-size:12px; color:#999;}
.news_activity i span{ position:absolute; top:15px; right:12px; margin:0;}
.activity_tu{ position:relative; padding-bottom:23px; min-height:14px;}
.activity_tu .adimg{ width: 100%; display:block; margin: 0 auto; border: 1px solid #eaeaea;}
.img_gary{
    position: absolute;
    height: 100%;
    bottom: 0;
    width: 100%;
    padding: 6px 0;
    color: #fff;
    text-indent: 10px;
    background: rgba(0,0,0,.3);
}
.activity_trailer,.activity_for,.activity_end{ position: absolute; left: 1px; top: 1px; padding:4px 15px; color: #ffffff !important; background-color: #67df6b;}
.activity_trailer{ background-color: #67df6b;}
.activity_for{ background-color: #4384e9;}
.activity_end{ background-color: #838e9f;}
.activity-details{ overflow:hidden; position:relative;}

.news{ overflow:hidden; /*border-bottom:1px solid #eee;*/ margin:0 12px; padding:0 0 10px 0;}
.news p{ margin: 12px 0;}

.time{ background: url(../images/svg/SVG_ICON12.svg) no-repeat top left;}
.add{ background: url(../images/svg/SVG_ICON11.svg) no-repeat top left;}
.time,.add{
    padding:0 0 0 32px;
	background-size:18px;
    float:left;
    line-height:18px;
    margin: 15px 0;
    text-overflow: ellipsis;
    overflow:hidden;
    display:inline-block;
}

ul.circle{list-style-type:circle; padding-left: 1em;}
.news_txt,.news_txt2,.news_txt1,.news_txt3{ font-size:16px;padding:10px 0; line-height:28px; overflow:hidden;}
.news_txt2{ padding-left: 15px; color: #98a4b8;}
.news_txt{ display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.news_txt a{ font-size: 20px; font-family: "Lato", "微软雅黑", sans-serif !important; color: #2b2a2a !important; display: inline-block; width: 92%;}

.news_txt-icon{ width: 20px; height: 22px; margin-top: 6px; float: right; border-bottom: none !important;}
.news_txt-icon a{margin-right: 12px;}
.news_txt-icon .foc{
	background: url(../images/svg/SVG_ICON8.svg) no-repeat 0;
	background-size:18px 20px;
}

.news .adimg{ margin: 12px 0;}
.news_txt em{ font-size: 12px; color: #aab0b8; font-style: inherit;}
.news_p,.news_ps,.news_p1{ font-size:12px; color:#bbb;line-height:15px; overflow:hidden;}
.news_p{ border-bottom: 1px dashed #eee; margin: 0 !important;}
.news_p a{ font-size:14px; color:#5b5b5b;}
.news_p i{ font-size:14px; color:#5b5b5b;}
.news_p1 .author{
    font-size: 12px;
    color: #bbb;
    line-height: 15px;
    overflow: hidden;
}

.btn-gray {

    color: #fff;
    background-color: #838e9f;
    border-color: #eea236;
}
.btn-gray:hover,
.btn-gray:focus {
    color: #fff;
    background-color: #838e9f;
    background-position: 0 -15px;
}
.btn-gray:active,
.btn-gray.active {
    background-color: #708090;
    border-color: #9eafc9;
}
/*! activity page 活动模块正文 end */

/*! login page 登录模块正文 start */
.login-header{ overflow:hidden; position:relative; background-color: #4384e9;text-align: center; min-height: 214px;}
.login-header p{ color: #fff;}
.header-top{
    width: 100%;
    /*position:fixed;*/
    top:0;
    left:0;
}
.m-top{ margin-top:214px;}
.header-text{
    color: #fff;
    width: 50%;
    height:42px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

/* button
---------------------------------------------- */
.button {
    border: 1px solid #fff;
    color: #fff !important;
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: .4em 1.5em .45em;
}
.button:hover {
    border: 1px solid #ddd;
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
.login-page{ overflow:hidden;margin:0 12px; padding:0 0 10px 0;}
.login-page img{ width: 76px; opacity: 0.4;}
.login-page p{ text-align: center; color: #aab0b8; margin-top: 30%;}

.head-img {
    margin: 50px auto 15px;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    border: 3px solid #4384e9;
    background: rgba(67,132,233,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.25);
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}
.head-nickname{color: #fff;}

.wechat-title{ font-size: 16px; color: #fff; margin-top:20%;}
.wechat-vip{ background-color: #fff; margin: 16px 30px; color:#4689f2; padding: 6px; font-size: 16px;}
.wechat-vip em{ font-weight: bold; margin: 0 6px; font-size: 16px; font-style: normal; color: #4689f2;}
.text-blue { color: #bdd7ff !important;}
.qr-code-box{ border: 1px solid #fff; padding: 15px; width: 230px; height: 230px; margin: 16px auto;}
/*! login page 登录模块正文 end */