/*!
* 全局声明、共用样式
*/
*{font-size:14px; color:#2b2a2a;}
article,aside,audio,body,dd,div,dl,footer,form,h1,h2,h3,h4,h5,h6,header,hr,iframe,input,label,menu,nav,ol,p,section,select,td,textarea,th,time,ul,video{ margin:0; padding:0;}
article,aside,audio,canvas,footer,header,nav,section,video{ display:block;}
input::-webkit-search-cancel-button{ display:none;}
form{ display:inline;}
iframe,img{ border:0;}
ol,ul,li{ list-style:none;}
li img{ display: block; margin: 0 auto; width: 100%;}
h1,h2,h3,h4,h5,h6{ font-weight:400;}
label{ outline:0; -webkit-user-modify:read-write-plaintext-only; -webkit-tap-highlight-color:transparent;}
i{ font-style:inherit;}
hr{ height:1px; border:none; background:#eee;}

html{
	width: 100%;
	font-family: "Lato","微软雅黑",sans-serif;
	font-size: 100px;
	outline: 0;
	-webkit-text-size-adjust: none;
}
body{
	width: 100%;
	word-wrap:break-word;
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-webkit-user-select: none;
	position: relative;
}
a{ color:#8bb3f3 !important; text-decoration:none;}
a:hover,a:link,a:visited,a {
	text-decoration: none;
}
.centent {
	padding-bottom: 0.8rem;
}

/*! top nav 顶部导航 start */
nav{
	background-color: #fff;
	width: 100%;
	z-index: 999;
	position:fixed;
	top:0;
	left:0;
}
.nav{
	color:#FFF;
	padding: 0 10%;
	background-color: #4689f2;
}

.nav ul li{
	position: relative;
	float: left;
	width: 25%;
	line-height: 44px;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	height: 44px;
}
.nav ul li a{ color: #bdd7ff; }
.nav ul li a:hover{
	color:#fff !important;
	font-size: 16px;
}
.nav .active{
	/*
    background: #f5f5f5;
    */
}
.nav .active a{
	color: #fff !important;
	font-size: 16px;
	font-weight: bold;
}

/*! top nav 顶部导航 end */

/*! subscribe 分类订阅 start */
.breadbox{ position:relative;}
.text-bold{ font-weight: bold; color: #4689f2 !important;}
.bread{
	position:relative;
	overflow:hidden;
	height:40px;
	border-bottom:1px solid #e9eef6;
}
.bread .foc,.accordion .foc{
	-webkit-transform:rotateZ(180deg);
	-moz-transform:rotateZ(180deg);
	-o-transform:rotateZ(180deg);
	transform:rotateZ(180deg);
	/*opacity: 0.2;*/
	/*-webkit-box-shadow: 1px 0 5px rgba(0,0,0,0.75);*/
	/*-moz-box-shadow: 1px 0 5px rgba(0,0,0,0.75);*/
	/*box-shadow: 1px 0 5px rgba(0,0,0,0.75);*/
}
.accordion .foc{
	right: 0;
}
.bread a{
	padding-left:15px;
}
.bread_k{
	position:absolute;
	/*top:0;*/
	right:0;
	height: 40px;
	width: 40px;
	z-index:999;
	opacity: 0.2;
	display:inline-block;
	background:#91abd3 url(../images/svg/SVG_ICON4.svg) no-repeat center;
	background-size:24px 24px;
	-webkit-box-shadow: -2px 0 5px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 0 5px rgba(0,0,0,0.75);
	box-shadow: -2px 0 5px rgba(0,0,0,0.75);
}
.SVG_ICON8{
	position:absolute;
	/*top:0;*/
	right:0;
	float: right;
	width: 18px;
	height: 20px;
	display:inline-block;
	background: url(../images/svg/SVG_ICON8.svg) no-repeat right;
	background-size:18px 20px;
}
.bread_tab>div,.bread_tab>div a{ white-space:nowrap;}
.bread_tab{
	overflow:hidden;
	padding:0 48px 0 0;
	line-height:40px;
	-webkit-overflow-scrolling:touch;
}
@media screen and (max-width:720px){
	.bread_tab{
		overflow-x:scroll;
	}
}
#divnav{
	overflow-x:inherit;
}
.bread_tab::-webkit-scrollbar{
	display:none;
}
.bread_tab>div a{
	display:inline-block;
}
.bread_tab>div a:first-child{
	color:#f70;
}
.bread_tab>div a:last-child{
	padding-right:49px;
}
.bread_tab>div a:last-child:after{
	width:0;
}
.bread_item{
	position:absolute;
	top:0;
	left:0;
	z-index:9;
	width:100%;
	background:#ebf4ff;
}
.bread_bg{
	position: fixed;
	_position: absolute;
	z-index:8;
	width:100%;
	height: 100%;
	background:#ebf4ff;
	/*opacity:.4;*/
}
.shut-down{ position: fixed; bottom: 0; left: 0; color: #4689f2;}
.save{ position: fixed; left: 0; color: #fff; background-color: #67df6b;}

.nob{
	display:none!important;
}

.bread_txt{
	padding-left:15px;
	font-size:14px;
	line-height:36px;
}

.select{
	overflow:hidden;
	text-align:center;
	padding: 15px 15px 18px;
}
.select li{
	float:left;
	background-color: #fff;
	margin: 0 10px 10px 0;
	text-align: left;
	overflow: hidden;
}
.select a{
	display:inline-block;
	/*white-space:nowrap;*/
	padding:5px 15px;
	text-decoration:none;
}
.select a:hover{
	color:#5fdd63; background-color:#f3edc2
}
.select .selected a{
	color:#fff !important;
	background:#5fdd63 url(../images/svg/SVG_ICON16.svg) no-repeat top right;
	background-size:8px 8px;
}
/*! subscribe 分类订阅 end */

/*! video Slider 视频页旋转木马 start */
.htmleaf-container{
	padding: 10px 12px;
}
#wrap{
	background: #fefefe;
}
.hiSlider{
	overflow: hidden;
	background: #eee;
}
.hiSlider-item{
	float: left;
}
.hiSlider-pages, .hiSlider-title{
	position: absolute;
	/*z-index: 3;*/
}
.hiSlider-title{
	bottom: 0;
	width: 100%;
	padding: 6px 0;
	color: #fff;
	text-indent: 10px;
	/*background: rgba(0,0,0,.6);*/
	z-index: 0;
}
.hiSlider-pages{
	bottom: 6px;
	right: 10px;
	text-align: right;
}
.hiSlider-pages a{
	height: 8px;
	width: 8px;
	margin: 0 3px;
	display: inline-block;
	overflow: hidden;
	text-indent: -100px;
	font-size: 0;
	border-radius: 50%;
	background: #ddd;
}
.hiSlider-pages a.active{
	background: #5472BF;
}
/*! video Slider 视频页旋转木马 end */

/*! activity tabs 活动页切换 start */
.tabs{
	text-align: center;
	background-color: #ebf4ff;
	width: 100%;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
}
.nav-tabs{
	display:table;
	margin-left:auto;
	margin-right:auto;
	border-bottom: none;
	line-height: 44px;
	height: 44px;
}
.nav-tabs li{
	float:left;
	*float:none;
	*display:inline;
	*zoom:1;
	margin: 0 15px;
	font-size: 14px;
	color: #8bb3f3;
}
.nav-tabs > li > a{
	line-height: 1.42857143;
	border: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	color: #4689f2;
	cursor: default;
	font-size: 16px;
	background-color:#ebf4ff;
	border: none;
	border-bottom-color: transparent;
}
.tab-content{ margin-top: 60px;}
/*! activity tabs 活动页切换 end */

.mt-1{ margin-top: 0.23rem;}
.mt-2{ margin-top: 0.38rem;}
.mt-3{ margin-top: 0.88rem;}
.mt-25{ margin-top: 0.45rem;}
.loading{
	margin: 0.2rem 0;
	text-align: center;
	color: #9cb9e6;
}

/*! weChat 微信模块 start */
.news_qr_code {
	padding:0 12px 15px;
	overflow:hidden;
	position:relative;
	border-bottom:1px solid #e0e0e0;
	text-align: center;
}
.news_qr_code h4{
	line-height:24px;
	font-size:14px;
	white-space: nowrap;
	overflow:hidden;
	padding-top: 12px;
	margin-top: 12px;
	border-top: 1px solid #eaeaea;
}
.news_qr_code p{
	font-size:12px;
	color:#999;
}
.qr_code_tu{
	position:relative;
	padding-bottom:23px;
	min-height:14px;
}
.qr_code_tu .qr_code{
	width:40%;
	display:block;
	margin: 0 auto;
	border: 1px solid #eaeaea;
}

.wechat-blue{ color: #4689f2; margin: 0 6px; font-size: 16px; font-style: normal;}
/*! weChat 微信模块 end */

/*! footer 页脚菜单 start */
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	border-top: 1px solid #efefef;
	background-color: #fff;
	width: 100%;
	height: 50px;
}
.mune{
	float: left;
	margin: 6px 0;
	width: 33%;
	text-align: center;
}
.mune img{ width: 24px; height: 24px;}
.mune p{
	font-size: 10px;
	color: #98a4b8;
	line-height: 10px;
}
.mune p a{
	font-size: 10px;
	color: #4689f2 !important;
}
/*! footer 页脚菜单 end */

/*! back top 回到顶部 start */
.top{
	position: fixed;
	right: 12px;
	bottom: 80px;
	/*z-index: 9999;*/
	width: 32px;
	height: 32px;
	background:#657287 url(../images/svg/SVG_ICON5.svg) no-repeat center;
	background-size:20px;
	opacity: .5;
	cursor: pointer;
	border-radius: 50%;
}
/*! back top 回到顶部 end */

/*! go back 返回 start */
.goback {
	position: fixed;
	top:10px;
	left: 15px;
	z-index: 9999;
	width: 32px;
	height: 32px;
	background: #222 url(../images/svg/SVG_ICON6.svg) no-repeat center;
	background-size: 20px;
	opacity: .8;
	cursor: pointer;
	border-radius: 50%;
}
/*! go back 返回 start */